<configuration>
   <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <!-- <encoder>
            <Pattern> %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %X{dd.trace_id:-0} %X{dd.span_id:-0} - %msg%n </Pattern>
        </encoder>  -->
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>